{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<title></title>

		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

		<!-- App -->
		<!-- <link rel="stylesheet" href="{% static 'app_auto/style.css' %}"> -->
		<link rel="stylesheet" href="{% static 'app_auto/cover.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	</head>

	<body>
		{% block content %}{% endblock %}

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

		<!-- BEGIN JIVOSITE CODE {literal} -->
		<script type='text/javascript'>
			(function(){
				var widget_id = 'OhHA1HeR41';
				var d=document;
				var w=window;
				function l(){
					var s = document.createElement('script');
					s.type = 'text/javascript';
					s.async = true;
					s.src = '//code.jivosite.com/script/widget/'+widget_id;
					var ss = document.getElementsByTagName('script')[0];
					ss.parentNode.insertBefore(s, ss);
				}
				if(d.readyState=='complete'){
					l();
				}else{
					if(w.attachEvent){
						w.attachEvent('onload',l);
					}else if (w.addEventListener){
						w.addEventListener('load',l,false);
					}
				}
			})();</script>
		<!-- {/literal} END JIVOSITE CODE -->
	</body>
</html>