{% extends 'app_auto/base.html' %}
{% load staticfiles %}

{% block content %}

<style>
   body {
    background-image: url({% static 'app_auto/images/bg.jpg' %}); /* Путь к фоновому изображению */
    background-color: #c7b39b; /* Цвет фона */
   }
</style>

<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<header class="masthead clearfix">
				<div class="inner">
					<img class="masthead-brand" src="{% static 'app_auto/images/logo.png' %}" alt="logo" width='50' height='50'>
					<!-- <h3 class="masthead-brand">Cover</h3>					 -->
					<nav class="nav nav-masthead">
						<!--<a href="#" class="nav-link active">Home</a>-->
						<!--<a href="#" class="nav-link">Features</a>-->
						<!-- <a href="" class="nav-link" data-toggle="modal" data-target="#exampleModal">Вы можете оставить свой номер телефона</a> -->

						
						
						<!-- my-2 my-sm-0 -->

						<form class="form-inline my-2 my-lg-0">
							<label class="nav-text" for="#phone-text">мы вам перезвоним</label>
							<input type="text" class="form-control mr-sm-2" placeholder="ваш телефон" aria-label="Search" id="phone-text">
						</form>			
						<button type="submit" class="btn btn-outline-secondary my-2 my-sm-0">отправить</button>

					</nav>
				</div>
			</header>
			<main class="inner cover" role="main">
				<h1 class="cover-heading info-content">Автозапчасти</h1>
				<p class="lead info-content">на любое авто</p>
				<p class="lead info-content">с доставкой по Казахстану</p>
				<p class="lead info-content">8 (777) 123 45 67</p>
			</main>
			<footer class="mastfoot">
				<div class="inner">
					<!--
					<p>
						"Cover template for "
						<a href="#">Bootstrap</a>
						"."
					</p>
					-->

					{% for m in models %}

						{% with 'app_auto/images/auto_logos/'|add:m as image_static %}
							<img src="{% static image_static %}" alt="logo">
						{% endwith %}
						

					{% endfor %}

					<!-- <form class="inline my-2 my-lg-0">
						<label for="phone-text">Оставьте свой номер телефона, мы вам перезвоним</label>
						<input type="text" id="phone-text"
                               class="form-control mr-sm-2"
                               placeholder="номер телефона"
                               aria-label="Phone number">                          
                        <button type="submit" class="btn btn-outline-secondary btn-sm my-2 mr-sm-2 btn-block">	Отправить</button>
					</form> -->
					
				</div>
			</footer>
		</div>
	</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
	<div class="modal-dialog dlg" role="document">
		<div class="modal-content">
			<!-- <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"></h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hiddet="true">&times;</span>
				</button>
			</div> -->
			<div class="modal-body">
				<!-- <p>Оставьте свой номер телефона, мы вам перезвоним</p> -->
				<form class="inline my-2 my-lg-0">
					<label for="phone-text">Оставьте свой номер телефона, мы вам перезвоним</label>
					<input type="text" id="phone-text"
                           class="form-control mr-sm-2"
                           placeholder="номер телефона"
                           aria-label="Phone number">                          
                    <button type="submit" class="btn btn-outline-success btn-sm my-2 mr-sm-2 btn-block">	Отправить</button>
				</form>
			</div>
			<!-- <div class="modal-footer">
				
			</div> -->
		</div>		
	</div>
</div>

{% endblock %}